<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h1 class="panel-title"><strong>Order details:</strong></h1>
                    </div>
                    <div class="col-sm-2 col-sm-offset-4">
                        <button class="btn btn-blue pull-right" style="background-color:#ddd;" ng-click="backTolist()">Back</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Invoice</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h2><strong>XENON</strong></h2>
                        <p>Invoice No. #5652256 <br>{{orderDate}} <br>Prishtine, Kosovo</p>
                    </div>
                    <div class="col-sm-6">
                        <br><br>
                        <div class="row">
                            <div class="col-sm-6">
                                <p><strong>Client</strong><br>Jhon Doe <br> Mr. Nilson Otto<br> Food Master ltd</p>
                            </div>
                            <div class="col-sm-6">
                                <p><br>1982 OOP <br> Madrid, Spain<br> +1 (151) 225-4183</p>
                            </div>
                        </div>

                        <!-- <br>
                            <p><span class="input-group-btn">
                                        <button type="button" class="btn btn-white btn-md">Send</button>
                                        <button type="button" class="btn btn-white">
                                            <i class="fa-envelope"></i>
                                        </button>
                                    </span></p>
                            <span class="input-group-btn">
                                        <button type="button" class="btn btn-success btn-md">Print</button>
                                        <button type="button" class="btn btn-success">
                                            <i class="fa-print"></i>
                                        </button>
                                    </span> -->
                    </div>
                </div><br><br>
                <!-- <div class="row">
                    <div class="col-sm-3">
                        <p><strong>Client</strong><br>Jhon Doe <br> Mr. Nilson Otto<br> Food Master ltd</p>
                    </div>
                    <div class="col-sm-4">
                        <p><br>1982 OOP <br> Madrid, Spain<br> +1 (151) 225-4183</p>
                    </div>
                    <div class="col-sm-5">
                        <p><strong>Payment Details</strong><br>V.A.T Reg #: <strong>54254(DEMO)78</strong> <br> Account Name: <strong>Food Master Ltd</strong><br> SWIFT code: <strong>454785DV54FGH54</strong></p>
                    </div>
                </div> -->
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table responsive">
                            <colgroup>
                                <col width="10%"></col>
                                <col width="45%"></col>
                                <col width="25%"></col>
                                <col width="25%"></col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th style="text-align:center;">Product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="order in orderDetails">
                                    <td>{{$index}}</td>
                                    <td>{{order.pname}}</td>
                                    <td>{{order.pinv}}</td>
                                    <td style="text-align:right"><strong>${{order.price}}</strong></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {{storeAddress}} <br>{{storeCountry}} <br> P: {{storePhone}} <br> {{storeName}} <br>{{storeEmail}}
                                    </td>
                                    <td colspan="2" style="text-align:right">
                                        Sub - Total amount: <strong>${{totalAmount}}</strong><br>
                                        VAT: <strong> 12.9%</strong><br>
                                        Discount: <strong>......</strong><br>
                                        Grand Total: <strong>${{grandTotalAmount}}</strong><br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
