 <div class="page-body ng-scope login-page login-light">
    <div class="login-container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form class="login-form fade-in-effect in" name="loginForm">
                    <div class="login-header">
                    <strong>RESET</strong>
                    <p>Forgot password, Do'nt worry we are here to help you!</p>
                </div>
                    <div class="form-group">
                        <label class="control-label" for="Password">Password</label>
                        <input type="password" class="form-control" name="password" ng-model="password" autocomplete="off" ng-minlength="6" required/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Confirm Password</label>
                        <input type="password" class="form-control" name="cpassword" ng-model="confirm_password" autocomplete="off" password-verify="password" required/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary  btn-block text-left" ng-click="reset()" ng-disabled="loginForm.$invalid">
                            <i class="fa-lock"></i> Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



 