<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h1 class="panel-title"><strong>Add Product</strong></h1>
                    </div>
                    <div class="col-sm-2 col-sm-offset-4">
                        <button class="btn btn-blue btn-md pull-right" style="background-color:#ddd;" ng-click="back()">Back</button>
                    </div>
                </div>
            </div>
            <span ng-show="formSpinner" style="text-align:center;display:block;"><i class="fa fa-spin fa-spinner"></i></span>

            <div class="panel-body" ng-show="editForm">
                <h4>Image (<small><em>Optional</em></small>)</h4>
                <form class="form-horizontal ng-pristine ng-valid" role="form">
                    <div class="form-group">

                       <div class="col-sm-12">
                       <span class="file-input btn btn-blue btn-file">Browse...
                       <input type="file" ngf-select="" ng-model="picImage" name="fileName" ngf-accept="'image/*'" ngf-resize="{width: 400, height: 400, quality: 0.9}">
                       </span>
                       <br>
                       <img ngf-src="picImage" ngf-resize="{width: 400, height: 400, quality: 0.9}" >
                       </div>
                   </div>

                    <div class="form-group-separator"></div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <h4><strong>Information</strong></h4>
                            <div class="row">
                                <div class="col-sm-8">
                                    <strong>Title</strong>
                                    <p>
                                        <input type="text" class="form-control" ng-model="productName">
                                    </p>
                                    <span>mrezshop.tictail.com/products/{{productName| spaceless}}</span>
                                </div>
                                <div class="col-sm-4">
                                    <strong>Price</strong> <small>in NOK</small>
                                    <p>
                                        <input type="text" class="form-control" ng-model="productPrice">
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <strong>Description</strong>
                                    <p>
                                        <textarea class="form-control" rows="5" ng-model="productDescription">
                                        </textarea>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <h4><strong>Select Category</strong></h4>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <select class="form-control" ng-model="selectedCategoryId">
                                        <option ng-repeat="cat in categorylist" value="{{cat._id}}">{{cat.catname}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>  
                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <h4><strong>Details</strong></h4>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>

                                    <div class="input-group input-group-sm input-group-minimal">

                                        <input type="text" class="form-control" ng-model="productQuantity">
                                        <span class="input-group-addon" style="font-size:12px; background-color:#8dc63f;" ng-click="infinite()">
                                            &#8734;<!-- <i class="linecons-pencil"></i> -->
                                        </span>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>
                                        <input type="checkbox" ng-init="showInStore = false" class="" ng-model="showInStore">
                                        Show products in store
                                    </label>
                                </div> 
                                <div class="col-sm-12">
                                    <br>
                                    <button ng-show="saveProduct" class="btn btn-blue" ng-click="addProduct()">Save <span ng-show="spinner"><i class="fa fa-spin fa-spinner"></i></span></button>
                                    <button ng-show="editThisProduct" class="btn btn-blue" ng-click="editProduct()">Update <span ng-show="spinner"><i class="fa fa-spin fa-spinner"></i></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="col-sm-2"></div>
</div>