<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="panel-title"><strong>Orders</strong></h1>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-blue" ng-click="addOrder()">Add Orders</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal ng-pristine ng-valid" role="form">
                    <div class="row">
                        <div class="col-sm-3">
                            <!-- <select class="form-control">
                                <option value="Option 1">Inbox</option>
                                <option value="Option 2">Archive</option>
                                <option value="Option 3">All</option>
                            </select> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table responsive">
                                <thead>
                                    <tr>
                                        <th>Order No.</th>
                                        <th>Phone No.</th>
                                        <th>Total Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="spinner">
                                        <td colspan="7" style="text-align:center;"><i class="fa fa-spin fa-spinner"></i></td>
                                    </tr>
                                    <tr ng-repeat="orders in orderList| orderBy: '-created'">
                                        <td>{{orders.ordernr}}</td>
                                        <td>{{orders.cphone}}</td>
                                        <td>{{orders.totalamount}}</td>
                                        <td><button class="btn" ng-click="orderId(orders._id)"><i class="fa fa-eye"></i></button></td>
                                        <td><button class="btn" ng-click="deleteOrder(orders._id, $index)"><span class="glyphicon glyphicon-trash"></span></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
