<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <alert type="danger" ng-show="location_id_is_not_available" id="alertDanger">
            Please setup your store information first before going to other pages
    </alert>
        <div class="panel panel-default">
            <div class="panel-heading" style="border-bottom:0px;">
                <h4 class="panel-title">Store info:</h4>
            </div>
            <div class="panel-body">
                <form role="form" class="form-horizontal" name='store'>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Store Description</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control-label" for="full_name">
                                        <strong>Name</strong>
                                    </label>
                                    <input class="form-control" name="full_name"   ng-model="lname" />
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label" for="full_name">
                                        <strong>Description</strong>
                                    </label>
                                    <textarea class="form-control" rows="5" ng-model="ldesc"></textarea>
                                </div>
                                <div class="col-sm-9 ">
                                <br>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label class="control-label" for="full_name">
                                                <strong>Logo</strong>
                                            </label>
                                            <br/>
                                            <span class="file-input btn btn-blue btn-file">Browse...
                                          <input type="file" ngf-select="" ng-model="picImage" name="fileName" ngf-accept="'image/*'"   ngf-resize="{width: 400, height: 400, quality: 0.9}" >
                                         </span>
                                            <br>
                                              <img ngf-src="picImage" ngf-resize="{width: 400, height: 400, quality: 0.9}" >
                                            <!--   <button ng-click="upload(croppedDataUrl)">Submit</button>  -->
                                        </div>
                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Contact:</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="control-label" for="full_name">
                                            <strong>Contact email</strong>&nbsp;&nbsp;&nbsp;Will be included in emails sent to your customers
                                        
                                        
                                        </label>
                                        <input class="form-control" name="full_name"  ng-model="lemail" />
                                        <label class="control-label" for="full_name">
                                            <strong>Store address</strong>
                                        </label>
                                        <input class="form-control" name="full_name"   ng-model="laddr" />
                                        <label class="control-label" for="full_name">
                                            <strong>Post code</strong>
                                        </label>
                                        <input class="form-control" name="full_name"  ng-model="lpostcode" />
                                        <label class="control-label" for="full_name">
                                            <strong>City</strong>
                                        </label>
                                        <input class="form-control" name="full_name"  ng-model="lcity" />
                                        <label class="control-label" for="full_name">
                                            <strong>State</strong>
                                        </label>
                                        <input class="form-control" name="full_name"   ng-model="lstate" />
                                        <label class="control-label" for="full_name">
                                            <strong>Country</strong>
                                        </label>
                                        <select class="form-control"  ng-model="lcountry" ng-change="country_selected()">
                                            <option ng-repeat="row in dropdown_country track by $index" value="{{row}}">{{row}}</option>
                                        </select>
                                    </select>
                                    <label class="control-label" for="full_name">
                                        <strong>Phone</strong>
                                    </label>
                                    <div class='row'>
                                        <div class='col-sm-2'>
                                            <input class="form-control" ng-model="phone_code" disabled>
                                        </div>
                                        <div class='col-sm-10'>
                                            <input class="form-control" name="full_name"  ng-model="phone_no" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <hr>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Store status</label>
                            <div class="col-sm-9">
                                <label class="control-label" for="full_name">
                                    <strong>Open to customers</strong>
                                </label>
                                <div class="form-block">
                                    <input type="checkbox" checked="" class="iswitch-lg iswitch-info" ng-model="lclosed">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="col-sm-12">
                                    <hr>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Closed days:</label>
                                        <div class="col-sm-10">
                                            <multiple-date-picker days-selected="selectedDays" day-click="logInfos" highlight-days="highlightDays" />
                                        </div>
                                    </div>
                                    <div class="form-group-separator"></div>
                                    <div class="form-group">
                                    <label class="col-sm-2 control-label">Opening times</label>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label class="control-label" for="full_name">
                                                        <strong>Select Day:</strong>
                                                    </label>
                                                    
                                                        <select class="form-control" ng-model="day" name="day" required>
                                                            <option  
                                                                  ng-repeat="row in dropdown_days" value="{{row}}" ng-if="showOptions(row)">{{row}}</option>
                                                        </select>
                                                    
                                                </div>
                                                <div class="col-sm-3" >
                                                    <label class="control-label" for="full_name">
                                                        <strong>Opening time:</strong>
                                                    </label>
                                                    <select class="form-control" ng-model="opening_selected_hour" name="open" required>
                                                        <option  
                                                                  ng-repeat="row in openingtime_hour
                                                                   track by $index"  value="{{row}}">{{row}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3" >
                                                    <label class="control-label" for="full_name" >
                                                        <strong>Closing time:</strong>
                                                    </label>
                                                    <select class="form-control" ng-model="closing_selected_hour" name="close" required>
                                                        <option  
                                                                  ng-repeat="row in closingtime_hour
                                                                   track by $index">{{row}}</option>
                                                    </select>

                                                </div>
                                                <div class="col-sm-3" >
                                                    <div style="margin-top:23px">
                                                        <button class="btn btn-blue" ng-click="tsave()" ng-disabled="store.day.$invalid||store.open.$invalid||store.close.$invalid">Add 
                                                                </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-9 col-sm-offset-2">
                                            <div class="form-block">
                                                <div class="col-sm-14">
                                                    <div class="col-sm-12" ng-show="show_scheduled_table">
                                                        <table class="table responsive">
                                                            <thead>
                                                                <tr>
                                                                    <th>Day</th>
                                                                    <th>Opening Time</th>
                                                                    <th>Closing Time</th>
                                                                    <th>Delete</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="7" style="text-align:center;"></td>
                                                                </tr>
                                                                <tr ng-repeat="day in day_in_schedule_view track by $index">
                                                                    <td>{{day.day}}</td>
                                                                    <td >{{day.opening_time}}</td>
                                                                    <td>{{day.closing_time}}</td>
                                                                    <td>
                                                                        <button class="btn" ng-click="removeTimes(day)">
                                                                            <span class="glyphicon glyphicon-trash"></span>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10 col-sm-offset-2">
                                    <div class="form-block">
                                        <div class="form-group">
                                            <label class="control-label" for="full_name">
                                                <strong>Lead    time    (minimum    number  of  minutes it  takes   to  prepare for product delivery.) in minutes</strong>
                                            </label>
                                            <br/>
                                            <div class="col-sm-3" style="padding:0px;">
                                                <input class="form-control" name="full_name"   ng-model="llt"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-sm-offset-2">
                                    <div class="form-block">
                                        <div class="form-group">
                                            <label class="control-label" for="full_name">
                                                <strong>Message</strong>
                                            </label>
                                            <textarea class="form-control" rows="5" ng-model="lmessage"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-sm-9 col-sm-offset-2">
                                        <div class="form-block">
                                            <div class="form-group">
                                                <button class="btn btn-blue" ng-click="lsave(croppedDataUrl);">Save             
                                                        
                                                    <span ng-show="spinner">
                                                        <i class="fa fa-spin fa-spinner"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
