<div class="row">

    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Settings:</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal ng-pristine ng-valid" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Country & Currency</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-5">
                                    <strong>Store is located in</strong>
                                    <p>
                                        <select class="form-control" ng-model="selectedCountryName" ng-change="selectedCountry()">
                                        <option ng-repeat="name in countryName track by $index" value="{{name}}">
                                            {{name}}
                                        </option>
                                        </select>
                                        <!-- <select class="form-control" id="country" name="country" ng-model="countryName">
                                        </select> -->
                                    </p>
                                </div>
                                <div class="col-sm-5">
                                    <strong>Currency</strong>
                                    <p>
                                        <input disabled class="form-control" ng-model="countryCurrency" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tax</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-5">
                                    <strong>% Tax</strong>
                                    <p>
                                        <input type="text"  class="form-control" ng-model="tax">
                                    </p>
                                </div>
                                <div class="col-sm-5">
                                    <!-- <strong>Tax applies in</strong>
                                    <p>
                                        <select class="form-control">
                                            <option value="Option 1">Option 1</option>
                                            <option value="Option 2">Option 2</option>
                                        </select>
                                    </p> -->
                                </div>
                                <div class="col-sm-10">
                                    <br>
                                    <div class="panel-body">
                                        <strong>All my prices include tax</strong>
                                        <p>if 'No' tax will be added on the top of your product and shipping prices.</p>
                                        <div class="form-block">
                                            <input type="checkbox" checked="" class="iswitch-lg iswitch-info" ng-model="includeTax">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Translation</label>
                        <div class="col-sm-4">
                            <strong>Storefront language</strong>
                            <p>
                                <select class="form-control" ng-model="transalation">
                                    <option value="english">English</option>
                                    <option value="other">Other</option>
                                </select>
                            </p>
                        </div>
                    </div>
                    <!-- Do not delete below commented area -->

                    <!-- <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Legal</label>
                        <div class="col-sm-10">
                        <div class="row">
                                <div class="col-sm-10">
                            <strong>Return policy</strong>
                            <small>We'll use this template to generate your return policy</small>
                            <p>
                                <input type="text"  class="form-control">
                            </p>
                        </div>
                        
                        <div class="col-sm-10">
                        <br>
                            <strong>Term & conditions</strong>
                            <small>We'll use this template to generate your term & conditions</small>
                            <p>
                                <input type="text"  class="form-control">
                            </p>
                        </div> -->
                    <div class="col-sm-4">
                        <br>
                        <button class="btn btn-blue" ng-click="save()">Save <span ng-show="spinner">
                                <i class="fa fa-spin fa-spinner"></i>
                            </span></button>
                    </div>
            </div>
        </div>
    </div>
</form>
</div>
</div>
</div>
<div class="col-sm-1"></div>
</div>
<script language="javascript">
    // populateCountries("country");
</script>