<div class="container" style="margin-top:1.5em;margin-bottom:1.5em;">
    <div class="topContainer">
        <div class="row bgwhite TOP">
            <div class="col-sm-3 col-xs-12">
                <div class="image">
                    <img ng-src="{{picImage}}" class='img-thumbnail img-responsive logo'>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 text-center">
                    <h3 class="heading topheading">{{location_name}} 
                            <p class="store-desc" style="padding-top:5px;">{{location_desc}}</p>
                            <p class="store-desc">{{location_addr}}, {{location_lcity}}, {{location_lcountry}}, {{location_lpostcode}}, {{location_lstate}},{{location_lcountry}} | {{location_openingtime}}-{{location_closingtime}}</p>
                        </h3>
                    </div>
                   
                </div>
        <form id="payment-form" name="userForm" novalidate>
            <div class='row to-do'>
                <div>
                    <div class="col-sm-8 bgwhite leftCtnr">
                          <div class="text-center" ng-show="success_message" style="padding:130px;">
                            <span  class="bold">
                            Thank You {{fullname}}! We have registered your order and will soon start to prepare it for you. You will receive an email confirming from us shortly.
                          </div>
                        <div class='row left' ng-show="order_not_success">
                                       
                            <div class="form-inline " role="form" name="contact">
                                <div class="formcontainer">
                                 <span class="bold">1.VERIFY ORDER</span>
                                 <p>Please verify order with your phone number. This is also how we will reach out to you about status of your order.</p>
                                    <div class="form-group" style="width:100%">
                                    <div class="row">
                                        <div class="col-md-10 col-xs-12 no-pad">
                                            <input type="tel" class="form-control input-lg" id="mobile-number" ng-model="phone_no" style="width:100%" placeholder="Phone number" name="phone" required />
                                        </div>
                                        <div class="col-md-2 col-xs-12 no-pad mar-top-5">
                                            <span class="btn btn-info btn-lg btn-block" ng-click="phone_no_submitted(
                                    )" ng-disabled="contact.$invalid || contact.$pending"><span ng-show="phone_spinner">
                            <i class="fa fa-spin fa-spinner"></i>
                        </span>Submit</span>
                                        </div>
                                    </div>
                                     </div>
                                        <div class="form-group" ng-show="show_sms_code_enter">
                                 <p>Please provide the SMS code received at above phone number</p>
                                 <p style="color:red">{{code_error}}</p>
                                 <!-- <div class="col-xs-4"> -->
                                    <input type="text" class="form-control" ng-model="smscode" name="smscode" required>
                                    <span class="btn btn-info" ng-disabled="userForm.smscode.$invalid" ng-click="sms_code_submitted(
                                    )"><span ng-show="codespinner">
                            <i class="fa fa-spin fa-spinner"></i>
                        </span>Verify</span>
                                   
                                    <!--  </div> -->
                                 </div>

                                </div> 
                            </div> 

                            <hr class="separator">
                            <div class="formcontainer">
                                <span class="bold">2.DELIVERY DETAILS</span>
                                <div class="row padbot" ng-show="delivery_details_form">
                                    <span ng-show="never">
                                                        <input type="text" ng-model="orderid"  />
                                                    </span>
                                    <div class="col-sm-6">
                                        <div class="form-group" ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }">
                                            <input type="text" class="form-control input-lg" ng-model="first_name" placeholder="First name" name="f_n" ng-blur="f_n()" required>
                                             <div class="help-block" ng-messages="userForm.f_n.$error" ng-if="userForm.f_n.$touched">
        <p ng-message="minlength">Your name is too short.</p>
        <p ng-message="maxlength">Your name is too long.</p>
        <p ng-message="required">Your name is required.</p>
      </div>
                                             <!--  <span ng-show="userForm.f_n.$invalid&& !userForm.f_n.$pristine">Looking for a valid name</span> -->
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }">
                                            <input type="text" class="form-control input-lg" ng-model="last_name" placeholder="Last name" name="l_n" ng-blur='names_found()'required>
                                            <!--   <span ng-show="userForm.l_n.$invalid&& !userForm.l_n.$pristine">Looking for a valid name</span> -->
                                              <div class="help-block" ng-messages="userForm.l_n.$error" ng-if="userForm.l_n.$touched">
        <p ng-message="minlength">Your name is too short.</p>
        <p ng-message="maxlength">Your name is too long.</p>
        <p ng-message="required">Your name is required.</p>
      </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }">
                                            <input type="email" class="form-control input-lg" name="stripeEmail" ng-model="stripeEmail" placeholder="Email" ng-blur="emailerror()" required>
                                             <div class="help-block" ng-messages="userForm.stripeEmail.$error" ng-if="userForm.stripeEmail.$touched">
        <p ng-message="minlength">Your name is too short.</p>
        <p ng-message="maxlength">Your name is too long.</p>
        <p ng-message="required">Your email is required.</p>
      </div>
                                            <span ng-show="userForm.stripeEmail.$invalid&& !userForm.stripeEmail.$pristine">Looking for a valid email-id</span>
                                        </div>
                                      
                                    </div>
                                    <div class="col-sm-6">
                                      <div class="form-group" ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }">
                                            <input type="text" class="form-control input-lg" name="addr" ng-model="addr" placeholder="Address" ng-blur="addr_error()"required>
                                            <!--  <span ng-show="userForm.addr.$invalid&& !userForm.addr.$pristine">Looking for a valid address</span> -->
                                              <div class="help-block" ng-messages="userForm.addr.$error" ng-if="userForm.addr.$touched">
        <p ng-message="minlength">Your name is too short.</p>
        <p ng-message="maxlength">Your name is too long.</p>
        <p ng-message="required">Your Address is required.</p>
      </div>
                                        </div>
                                          <div class="form-group" ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }">
                                            <input type="text" class="form-control input-lg" name=" postcode" ng-model="postcode" placeholder="Postcode" ng-blur="postcode_error"required>
                                          <!--    <span ng-show="userForm.postcode.$invalid&& !userForm.postcode.$pristine">Looking for a valid postcode</span> -->
                                              <div class="help-block" ng-messages="userForm.postcode.$error" ng-if="userForm.postcode.$touched">
        <p ng-message="minlength">Your name is too short.</p>
        <p ng-message="maxlength">Your name is too long.</p>
        <p ng-message="required">Your postcode is required.</p>
      </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" name="city" ng-model="city" placeholder="City"  disabled>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" name="country" ng-model="country" placeholder="Country"  disabled>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                            <hr class="separator">
                            <div class="formcontainer">
                                <span class="bold">2.PAYMENT DETAILS</span>
                                <div class="row padbot" ng-show="payment_details_form">
                                    <div class="col-sm-6">
                                        <div class='card-wrapper form-group'></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }">
                                            <input type="number" class="form-control input-lg" maxlength="20" data-stripe="number" ng-model="cardnumber" name="number" placeholder="Card number" ng-blur="card_error()"  ng-minlength="16"required>
                                             <div class="help-block" ng-messages="userForm.number.$error" ng-if="userForm.number.$touched">
        <p ng-message="minlength">Card number is too short.</p>
       
        <p ng-message="required">Card number is required.</p>
      </div>
                                             <!-- <span ng-show="userForm.number.$invalid&& !userForm.number.$pristine">Looking for a valid card number</span> -->
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }">
                                            <div class="form-inline" id="card_details">
                                                <input type="number" maxlength="2" data-stripe="exp-month" class="form-control input-lg" ng-model="cc_month" cc-exp-month name="expiry" placeholder="MM" ng-blur="exp_month_error()" required>
                                                <span> / </span>
                                                <input type="number" maxlength="4" data-stripe="exp-year" class="form-control input-lg" ng-model="cc_year" cc-exp-year name="expiry" placeholder="YYYY" ng-blur="exp_year_error()" required/>
                                                <input type="number" class="form-control input-lg" maxlength="4" data-stripe="cvc" ng-model="CVC" cc-cvc name="cvc" placeholder="CVC" ng-blur="cvc_error()"required>
                                               

                                            </div>
                                             <span ng-show="userForm.expiry.$invalid&& !userForm.expiry.$pristine">Looking for a valid expiry date</span>
                                         
                                               <span ng-show="userForm.cvc.$invalid&& !userForm.cvc.$pristine">Looking for a valid CVC</span>
                                        </div>

                                        <div class="form-group" >
                                            <input type="text" class="form-control input-lg" name='first_name' ng-model="fullname" placeholder="Name on card" required>
                                        </div>
                                      <!--   <div class="form-group">
                                            <input type="text" class="form-control input-lg" name="last_name" ng-model="lastname" placeholder="Last name" required>
                                        </div> -->
                                        <div class="form-group">
                                            <span class="payment-errors" style="color: red" ng-bind="payment_errors"></span>
                                        </div>
                                     <!--    <div class="form-group pull-right">
                                            <button class="btn btn-info btn-lg" ng-click="newcharge()" ng-disabled="userForm.first_name.$invalid||userForm.cvc.$invalid||userForm.expiry.$invalid||userForm.number.$invalid||userForm.postcode.$invalid||userForm.addr.$invalid||userForm.stripeEmail.$invalid||userForm.f_n.$invalid||userForm.l_n.$invalid" ng-style="{'background-color' : (disabled==true) ? 'rgb(239, 110, 84              )' : '#bbbdc0'}"> <span ng-show="payment_spinner">
                            <i class="fa fa-spin fa-spinner"></i>
                        </span>Submit</button>
                                        </div> -->
                                           <div class="form-group pull-right">
                                            <button class="btn btn-info btn-lg" ng-click="newcharge()" ng-disabled="userForm.first_name.$invalid||userForm.cvc.$invalid||userForm.expiry.$invalid||userForm.number.$invalid||userForm.postcode.$invalid||userForm.addr.$invalid||userForm.stripeEmail.$invalid||userForm.f_n.$invalid||userForm.l_n.$invalid" ng-style="{'background-color' : (disabled==true) ? 'rgb(239, 110, 84              )' : '#bbbdc0'}"> <span ng-show="payment_spinner">
                            <i class="fa fa-spin fa-spinner"></i>
                        </span>Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 bgwhite">
                    <div class="row" style="padding-top:22px;">
                    <div class="col-sm-12">
                    <span class="medium pull-left">Shipping method</span>
                    <span class="medium pull-right">{{shipping_method}}</span>
                    </div>
                    <div class="col-sm-12">
                    <span class="medium pull-left">Shipping time</span>
                    <span class="medium pull-right">{{shipping_time}}</span>
                    </div>

                    </div>

                    <div class="text-center" style="padding-top: 20px;">
                    
                        <div class="cart">
                

                            <div class="cartheader">

                                <span class="bold"> YOUR ORDER</span>
                                <div class="cartheader-message">
                                  
                                    <div class="row">
                                        <div ng-repeat='row in cart'>
                                            <div class="col-sm-12">
                                                <div class="pull-left">
                                                        {{row.count}}&nbsp;X&nbsp;
                                                        <span style="color:rgb(239,110,84)">{{row.name}}</span>
                                                </div>
                                            <div class="pull-right" style=" color:rgb(239,110,84)">
                                           {{row.price}}{{currency}} 
                                                            
                                                                                                                    
                                             </div>
                                           </div>
                                         </div>
                                       </div>
                                       <div class="cart-containt">
                                        <div class="row">
                                          <div class="col-sm-12 subtotal">
                                            <div class="pull-left">Subtotal</div>
                                             <div class="pull-right">{{total_price}} {{currency}}</div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12">
                                        <div class="bold pull-left">Total</div>
                                        <div class="bold pull-right">{{total_price}} {{currency}}</div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <script>
                    $("#mobile-number").intlTelInput({});
                  </script>
                  <script type="text/javascript">
        // This identifies your website in the createToken call below
        Stripe.setPublishableKey('pk_test_s9jIizZdUfhjMplDPtyMFAN7');
        // ...
      </script>
      <script>
        var card = new Card({
          form: 'form',
          container: '.card-wrapper',

          formSelectors: {
            nameInput: 'input[name="first-name"], input[name="last-name"]'
          }
        });
      </script>