<div class="page-body ng-scope login-page login-light">
    <div class="login-container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form class="login-form fade-in-effect in" name="loginForm">
                    <div class="login-header">
                    <strong>FORGOT PASSWORD</strong>
                    <p>Forgot password, Do'nt worry we are here to help you!</p>
                </div>
                    <div class="form-group">
                        <label class="control-label" for="Email">Email</label>
                        <input type="text" class="form-control" name="Email" ng-model="email" autocomplete="off" ng-model="email" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" required/>
                        <span style="color: green">{{response}}<span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary  btn-block text-left" ng-click="reset()" ng-disabled="loginForm.$invalid">
                         Submit                                                
                        <span ng-show="spinner">
                            <i class="fa fa-spin fa-spinner"></i>
                        </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>